<p>
  <strong>Standard:</strong>
  <%= classroom.standard %>
</p> 
<p>
  <strong>Classroom:</strong>
  <%= classroom.no_of_students %>
</p>
<p>
  <%= link_to 'Edit Classroom', edit_classroom_path(classroom) %> <br>
  <%= link_to 'Destroy Classroom', classroom, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>